.header-menu {
    display: flex;
    flex-direction: column;
}

.logo {
    height: 50px;
    width: 30%;
    color: rgb(24, 3, 82);
    text-align: center;
    float: left;
}

.menu {
    display: flex;
    flex-direction: column-reverse;
    width: 70%;
    height: 50px;
    float: left;
    text-align: center;
}